# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\pchauhan02\Spring-code\Ex_Files_Learning_Spring_Spring_Boot\Ex_Files_Learning_Spring_Spring_Boot\Exercise Files\Chapter4\04_02\04_02_end\learning-spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
